* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* min-height: 100vh; */
    background-color: white;
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.box {
    background: #fafafa;
    height: 100%;
    text-align: center;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


h1 {
    font-weight: bold;
    font-size: 36px;
    padding: 30px 0;
}

.content {
    padding: 0 40px;
}

.input {
    background: #fff;
    box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
    border-radius: 28px;
    padding: 20px 0;
    margin-bottom: 20px;
}

.input label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}

.input input {
    outline: none;
    border: none;
    border-bottom: 1px solid #4f7df9;
    width: 60%;
    text-align: center;
    font-size: 28px;
    font-family: "Nunito", sans-serif;
}

button#calculate {
    font-family: "Nunito", sans-serif;
    color: #fff;
    background: #4f7df9;
    font-size: 16px;
    border-radius: 12px;
    padding: 12px 0;
    width: 100%;
    outline: none;
    border: none;
    transition: background 0.2s ease;
}

button#calculate:hover {
    background: #0044ff;
}

.result {
    padding: 30px 20px;
}

.result p {
    font-weight: 600;
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
}

.result #result {
    font-size: 36px;
    font-weight: 900;
    color: #4f7df9;
    background-color: #eaeaea;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 55px;
    margin-bottom: 25px;
}

#comment {
    color: #4f7df9;
    font-weight: 800;
}

/* Youtube link */
.link {
    position: fixed;
    background-color: #d12322;
    padding: 23px 40px;
    right: -90px;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-90deg);
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.1s ease-in-out;
}

.link i {
    padding-left: 7px;
}

.link:hover {
    text-decoration: underline;
    background-color: black;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.close-img {
    display: flex;
    height: 50px;
    width: 50px;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}
