/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4.5rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  height: 100%;
  width: 100%;
}

label {
  font-size: 20px;
  color: black;
  font-weight: 600;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 1rem 2rem 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
  flex-wrap: wrap;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: calc(100% - var(--header-height));
}

/*=============== LAYOUT ===============*/
.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

/*=============== HEADER ===============*/
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: .4s;
  padding-inline: 30px;
  height: var(--header-height);
}

/*=============== NAV ===============*/
.nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  width: 32px;
  border-radius: 50%;
}

.nav__logo {
  color: var(--title-color);
  font-weight: 600;
}

.nav__list,
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
}

.nav__icon {
  font-size: 1.5rem;
}


.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}

.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
  border: 2px solid transparent;
}

.app__img {
  height: 80px;
  width: 80px;
}

.app__title {
  font-size: 20px;
  color: black;
}

.app__img:focus,
.app__img:focus-visible,
.app__title:focus,
.app__title:focus-visible {
  border: none;
  outline: none;
}

.app:focus-within {
  border-color: black;
}

/*=============== MEDIA QUERIES ===============*/

@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
}


@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }

  .section {
    padding: 1.5rem 1rem 4.5rem 1rem;
  }

  .header {
    padding-inline: 10px;
  }
}

@media screen and (min-width: 768px) {

  .section {
    padding: 2rem 1rem 2rem 1rem;
  }

  .nav__img {
    display: none;
  }

  .nav__icon {
    display: none;
  }

  .nav__name {
    font-size: var(--normal-font-size);
  }

  .nav__link:hover {
    color: var(--first-color);
  }

  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }

}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}


@media (max-width: 768px) {
  .mobile {
    display: grid;
    align-content: center;
  }

  .desktop {
    display: none;
  }

  .section {
    height: max-content;
    gap: 5px;
  }
}

@media (min-width: 769px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }


}
